@media only screen and (min-width: 64rem) {

nav button{
    display:none;
    }
nav ul.hide {
    display:inline-flex;
    position: inherit;
    width:80%;
    justify-content: center;
        }
nav ul li {
    border-right:1px solid black; 
    padding-top:0;
    padding-bottom:0;
        }
.rent h1 {
    font-size: 3em;
}
.rentalinfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
    text-align: center;
    border:white 2px dotted;
}
.rentalinfo p {
    font-family:"Nunito", Verdana, sans-serif;
    text-align:left;
    padding-left:50px;
    padding-right:10px;
 }
 .googlemaps {
    background-color:#d4ebeb;
    width:100%;
 }
 .maps {
    width:300px;
    height:100%;
    padding:20px;
   }
}