@media only screen and (min-width: 64rem) {

nav button{
    display:none;
    }
nav ul.hide {
    display:inline-flex;
    position: inherit;
    width:80%;
    justify-content: center;
        }
nav ul li {
    border-right:1px solid black; 
    padding-top:0;
    padding-bottom:0;
        }


 }