header {
    background-color:#EEEdE7;
    display:flex;
    align-items: center;
    justify-content:center;
    width:100%;
}

.logo {
    width:200px;
    display:flex;
    padding:20px;
}
nav{
    font-family:"Nunito", Verdana, sans-serif;
    background-color:#dbb29a;
    text-align: center;
    border-top:dotted 2px white;
    border-bottom:dotted 2px white;
}
nav button{
    border:none;
    background-color:transparent;
    font-size:2rem;
}
nav ul {
    list-style-type:none;
    text-align: center;
    display:block;
    width:85%;
    padding-left: 20px;
    margin-left: 20px;
}
nav ul li {
    font-size:1em;  
    padding:20px;
   
}
nav ul li a {
    color:black;
    text-decoration: none;
}
nav ul li a:hover {
    color:#EEEdE7;
    font-style: oblique;
}
nav ul li a.active {
 font-weight:bold;
 font-style: italic; 

}
nav ul.hide {
    display:none;
}
.companyname h1{
    font-size:3em;
    margin-bottom:-10px;
}
.companyname h2 {
    font-family:"Nunito", Verdana, sans-serif;
    font-size:2em;
   
}
.hero-image {
        display:block;
        width:100%;
        margin-right:auto;
        margin-left: auto;
        margin-bottom:5px;
        box-shadow: 3px 3px 3px 0px gray;
}
main {
    background-color:#d4ebeb;
    width:100%;
    
}
.ride {
    width:80%;
    margin:0 12% 0 8%;
    padding:20px;
    font-family:"Nunito", "Verdana", "sans-serif";
    background-color:#d4ebeb;
}
a{
    color:#bb7045;
    font-family:"Poppins", "Tahoma", sans-serif;
}
a:hover {
    color:white;
}

main h1 {
    font-family:"Poppins", "Tahoma", "sans-serif";
}
.scooting {
 display:flex;
 flex-direction: row;
 justify-content:center;
 flex-wrap: wrap;
}
.scooting img {
    padding:10px;
    box-shadow:3px 3px 3px 0 gray;
}


.rent h1 {
    text-align: center;
    padding-left:2%;
    padding-top:2%;
}
.weathersummarycontainer {
    background-color:#d4ebeb;
    border-top:dotted 2px white;
    width:100%;
}

.weather-summary-list {
    padding-top:20px;
    padding-bottom:20px;
    font-family:"Poppins", Tahoma, sans-serif;
    list-style-type:none;
    text-align: center;
    line-height:2em;
    padding-left: 0px;
}

.weathersummaryheading{
    font-family:"Poppins", Tahoma, sans-serif;
    font-size:1.5em;
    padding-bottom:20px;
}
.fivedays {
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}
.weatherbox {
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family:"Nunito", Verdana, sans-serif;
    background-color:#dbb29a;
    margin-top:20px;
}
.forecast h2{
    margin:0;
    padding-top:10px; 
    font-family:"Nunito", Verdana, sans-serif;
    text-align: center;
}
.weatherday {
    background-color:#dbb29a;
    width:10%;
    text-align:center;
    color:#EEEdE7;
    padding-top:5px;
    padding-bottom:5px;
}
.weathertemp {
    background-color:#dbb29a;
    width:10%;
    text-align: center;
    color:#EEEdE7;
    padding-top:5px;
    padding-bottom: 5px;
}

.footer-main {
    background-color:#EEEdE7;
    position:relative;
    display: flex;
    flex-direction: column;
   align-items: center;
   position:relative;
   border:dotted 2px white; 
}

.googlemaps {
    display:flex;
   justify-content:center;
    
}
.companyname {
    text-align: center;
    color:rgb(211, 97, 52);
    font-family:"Poppins", Tahoma, sans-serif;

}
.contactinfo {
    text-align: center;
}

.footer-bar {
    background-color: #dbb29a;
    position: absolute;
    top:150px;
    width:100%;
    right:0px;
    text-align: center;
    margin:0;
    border:dotted 2px white;
}

.social img {
    width:50px;
    padding:5px;
    
   }
   .googlemaps {
       background-color:#d4ebeb;
       width:100%;
   }
   footer a {
       font-family:Georgia, 'Times New Roman', Times, serif;
       color: black;
   }
   .maps {
    width:300px;
    height:100%;
    padding:20px;
   }

   h1 {
    text-align: center;
    font-family: "Poppins", Tahoma, sans-serif;
}
.rentalinfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
    text-align: center;
    border:white 2px dotted;
}

main div section  {
    background-color:#EEEdE7;
    width:100%;
    padding-bottom:20px;
}

.rentalinfo img {
    width: 40%;
    box-shadow:3px 3px 3px 3px gray;
}
.rentalinfo h2 {
    font-family:"Nunito", Verdana, sans-serif;
}
.rentalinfo p {
    font-family:"Nunito", Verdana, sans-serif;
    text-align:left;
    padding-left:50px;
    padding-right:10px;
}
