header {
    background-color:#EEEdE7;
    display:flex;
    align-items: center;
    justify-content:center;
    width:100%;
}

.logo {
    width:150px;
    display:flex;
    padding:20px;
}
nav{
    font-family:"Nunito", Verdana, sans-serif;
    background-color:#dbb29a;
    text-align: center;
    border-top:dotted 2px white;
    border-bottom:dotted 2px white;
}
nav button{
    border:none;
    background-color:transparent;
    font-size:2rem;
}
nav ul {
    list-style-type:none;
    text-align: center;
    display:block;
    width:85%;
    padding-left: 20px;
    margin-left: 20px;
}
nav ul li {
    font-size:1em;  
    padding:20px;
   
}
nav ul li a {
    color:black;
    text-decoration: none;
}
nav ul li a:hover {
    color:#EEEdE7;
    font-style: oblique;
}
nav ul li a.active {
 font-weight:bold;
 text-decoration: underline; 

}
nav ul.hide {
    display:none;
}
.companyname h1{
    font-size:2em;
    margin-bottom:-10px;
}
.companyname h2 {
    font-family:"Nunito", Verdana, sans-serif;
    font-size:1.5em;
   
}
.hero-image {
        display:block;
        width:100%;
        margin-right:auto;
        margin-left: auto;
        margin-bottom:5px;
        box-shadow: 3px 3px 3px 0px gray;
}
main {
    background-color:#d4ebeb;
    width:100%;
    padding-bottom:20px;
    
}
.ride {
    width:80%;
    margin:0 12% 0 8%;
    padding:20px;
    font-family:"Nunito", "Verdana", "sans-serif";
    background-color:#d4ebeb;
}
a{
    color:#bb7045;
    font-family:"Poppins", "Tahoma", sans-serif;
}
a:hover {
    color:white;
}

main h1 {
    font-family:"Poppins", "Tahoma", "sans-serif";
}
.scooting {
 display:flex;
 flex-direction: row;
 justify-content:center;
 flex-wrap: wrap;
}
.scooting img {
    padding:10px;
    box-shadow:3px 3px 3px 0 gray;
}


.rent h1 {
    text-align: center;
    padding-left:2%;
    padding-top:2%;
    color:rgb(211, 97, 52);
}
.weathersummarycontainer {
    background-color:#d4ebeb;
    border-top:dotted 2px white;
    width:100%;
    
}

.weather-summary-list {
    padding-top:20px;
    padding-bottom:20px;
    font-family:"Poppins", Tahoma, sans-serif;
    list-style-type:none;
    text-align: center;
    line-height:2em;
    padding-left: 0px;
}

.weathersummaryheading{
    font-family:"Poppins", Tahoma, sans-serif;
    font-size:1.5em;
    padding-bottom:20px;
}
.fivedays {
    display:flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.weatherbox {
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family:"Nunito", Verdana, sans-serif;
    background-color:#dbb29a;
    margin-top:20px;
    
}
.forecast h2{
    margin:0;
    padding-top:10px; 
    font-family:"Nunito", Verdana, sans-serif;
    text-align: center;
}
.weatherday {
    background-color:#dbb29a;
    width:10%;
    text-align:center;
    color:#EEEdE7;
    padding-top:5px;
    padding-bottom:5px;
}
.weathertemp {
    background-color:#dbb29a;
    width:10%;
    text-align: center;
    color:#EEEdE7;
    padding-top:5px;
    padding-bottom: 5px;
}

.footer-main {
    background-color:#EEEdE7;
    position:relative;
    display: flex;
    flex-direction: column;
   align-items: center;
   position:relative;
   border:dotted 2px white; 
   padding-bottom:2%;
}


.companyname {
    text-align: center;
    color:rgb(211, 97, 52);
    font-family:"Poppins", Tahoma, sans-serif;

}
.contactinfo {
    text-align: center;
    font-family:"Nunito", "Verdana", sans-serif;
}

.footer-bar {
    background-color: #dbb29a;
    position: absolute;
    top:150px;
    width:100%;
    right:0px;
    text-align: center;
    margin:0;
    border:dotted 2px white;
    font-family:"Nunito", "Verdana", sans-serif;
}

.social img {
    width:70px;
    padding:10px;
   }
   
   footer a {
    font-family:"Nunito", "Verdana", sans-serif;
    color: black;
   }
   
   h1 {
    text-align: center;
    font-family: "Poppins", Tahoma, sans-serif;
}
.rentalinfo {
    display: grid;
    grid-template-columns: 1fr;
    justify-items:center;
    text-align: center;
    border:white 2px dotted;
}

main div section  {
    background-color:#EEEdE7;
    width:100%;
    padding-bottom:20px;
}

.rentalinfo img {
    width: 40%;
    box-shadow:3px 3px 3px 3px gray;
}
.rentalinfo h2 {
    font-family:"Nunito", Verdana, sans-serif;
}
.rentalinfo p {
    font-family:"Nunito", Verdana, sans-serif;
    text-align:center;
    padding-left:50px;
    padding-right:10px;
}
/* forms */
main form {
    font-family:"Nunito", Verdana, sans-serif;
   padding:10px;
   
}
form legend{
    margin:0 1rem;
    padding:0 .5rem;
}

form fieldset {
    margin:2rem 0;
    border:2px dotted black;
    border-radius: 10px;
    padding: .5rem 2%;
}

form label.top, form div {
    display:block;
    padding-top:20px;
    font-size:1rem;
   
}

form label.top input, form label.top select {
    -webkit-appearance:none;
    display: block;
    font-size: 1rem;
    border:1px solid #999;
    border-radius:4px;
    padding:.7rem;
    color:#555;
    width:100%;
    max-width:20rem;
    background-color:rgb(245, 239, 239);
}
textarea {
    background-color:rgb(245, 239, 239);
    border-radius: 4px;
}
form label.severity {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:20rem;
    padding-top:2rem;
}

form label.severity datalist{
    width:100%;
    max-width:20rem;
    margin:0;
}

form input.submitform {
    border:none;
    background-color:rgb(216, 105, 62);
    color:#EEEdE7;
    font-size:larger;
    border-radius: 1rem;
    padding:.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width:96%;
    max-width:20rem;
}

 main form h2 {
     font-family: "Poppins", Tahoma, sans-serif;
     text-align:center;
     padding-top:20px;
     font-size:2em;
 }

 form label.danger {
    display:block;
    padding:.75rem;
}

.thanks{
    font-family:"Poppins", Tahoma, sans-serif;
    margin:0;
    
}
.thanksp {
    font-family:"Nunito", Verdana, sans-serif;
    margin:0 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

textarea {
    width: 100%;
    max-width: 20rem;
    height: 10rem;
}
.otherrentalinfo{
  padding-bottom:2%;
  padding-top:2%;
  width:100%;
  background-color:#dbb29a;
}
.otherrentalinfo ul{
    padding-left:12%;
    font-family:"Poppins", "Tahoma", sans-serif;
  font-size: 1em;
  line-height: 2em;
    
}

.terms {
    margin-left:12%;
    font-family: "Nunito", "Verdana", sans-serif;
    font-size:1em;
}

.tourcontainer h2{
    font-family:"Poppins", "Tahoma", sans-serif;
    font-size: 1em;
}

.tourcontainer p {
    font-family: "Nunito", "Verdana", sans-serif;
    font-size:1em;
}

.tour1{
border:#555 dotted 2px;
margin:2% 8%;
padding:20px;
}
.tour2{
    border:#555 dotted 2px;
    margin:2% 8%;
    padding:20px;
}

.tourphotoleft img{
    width:100%;
    max-width: 400px;
    box-shadow:2px 2px 2px 0px gray; 
   
}
.tourphotoleft{
    margin:0;
    float:left;
    padding:20px; 
    width:40%;
}
.tourphotoright img{
    width:100%;
    max-width: 400px;
    box-shadow:2px 2px 2px 0px gray; 
}
.tourphotoright{
    margin:0;
    float:right;
    padding:20px; 
    width:40%;  
}
.location1{
   font-family:"Nunito", "Verdana", sans-serif;
   text-align:center;
  
}

.location2{
    font-family:"Nunito", "Verdana", sans-serif;
    text-align:center;
 }
 .maps {
     max-width:300px;
     max-height:300px;
 }
