@media only screen and (min-width: 32.5em) {
    body{  
        width:80%;
        align-items: center;
        margin:auto;
    }    
    nav button{
            display:none;
            flex:none;
        }
        nav ul.hide {
            display:block;
        }
        nav ul li {
            float:left;
             border-right:1px solid black;
             font-size:1.2em;  
             margin:0;
             padding:0;
        }
        nav ul {
            position:inherit;
            padding:20px;
        }
    }