@media only screen and (min-width: 40rem) {
    
    header{
        padding-left:10%;
        padding-right:10%;
        padding-top:2%;
        padding-bottom:2%
        }
    main{  
        width:80%;
        align-items: center;
        margin:auto;
    }    
    nav ul.hide {
        display:inline-flex;
        width:80%;
        position:inherit;
       justify-content: center;
        }
      nav ul li {
          border-right:1px solid black;
          padding:none;
          font-size: 1.1em;
      }
      
    nav button {
        display:none;
    }
    .weatherwatch {
        padding-left:8%;
        text-align: center;
        margin:0;
    }
    .weatherwatch h2 {
    font-size: 1.5em;
    }
.logo {
    width:200px;
}
}