
header {
    background-color:#EEEdE7;
    display:flex;
    align-items: center;
    padding-left:2%;
    padding-right:2%;
    
}
.logo {
    width: 120px;

   }
.weatherwatch {
    text-align: center;
    color:black;
    font-family:"Poppins", Tahoma, sans-serif;
    display:inline-block;
    align-items: center;
    margin-top:30px;
    text-align: left;
    padding-left:20px;
}
.weatherwatch h2 {
    font-family:"Nunito", Verdana, sans-serif;
    font-size:1.2em;
}
nav button{
    border:none;
    background-color:transparent;
    font-size:2rem;
}
nav{
    font-family:"Nunito", Verdana, sans-serif;
    background-color:#66756A;
    text-align: center;
}
nav ul {
    list-style-type:none;
    position: absolute;
    text-align: center;
    display:inline-block;
}
nav ul li {
    font-size:1em;  
    background-color:#66756A;
    padding-right:20px;
    padding-left:20px;
    text-align: center;
}
nav ul li a {
    color:black;
    text-decoration: none;
}
nav ul li a:hover {
    color:#EEEdE7;
}
nav ul li a.active {
 font-weight:bold; 

}
nav ul.hide {
    display:none;
}

.preston-header {
    background-color:#EEEdE7;
    font-family: "Nunito", Verdana, sans-serif;
    text-align:center;
    margin:0px;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
}
.place-holder {
    background-color:#EEEdE7;
    font-size:1.2em;
    font-family:"Poppins", Tahoma, sans-serif;
    margin-top:5px;
    padding:20px;
}

footer {
    background-color: #66756A;
    padding:20px;
    font-family:"Nunito", Verdana, sans-serif;
    text-align:center;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.copyrightlink:hover {
    color:white;
}
.copyrightlink {
    color:black;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }