
header {
    background-color:#EEEdE7;
    margin:0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}
.logo {
    width: 200px;
    padding:20px;
    margin-bottom:-200px;
}
.weatherwatch {
    text-align: center;
    color:black;
    font-family:"Poppins", Tahoma, sans-serif;
    width:100%;
    margin-left:50px;
   
}
.weatherwatch h2 {
    font-family:"Nunito", Verdana, sans-serif;
}
nav button{
    margin-right:20px;
    border:none;
    background-color:transparent;
    font-size:2rem;
}
nav{
    font-family:"Nunito", Verdana, sans-serif;
    position: relative;
    margin-left: auto;
}
nav ul {
    list-style-type:none;
    padding:0;
    margin-left:-100px;
    text-align:center;
    
}
nav ul li {
    font-size:1em;  
    background-color:#EEEdE7;
    padding-top:20px;
    padding-bottom:20px;
    margin-left:0;
}
nav ul li a {
    color:black;
    text-decoration: none;
    padding:.8% 1rem;
    z-index: 1;
}
nav ul li a:hover {
    color:#66756A;
}
nav ul li a.active {
 font-weight:bold; 

}
nav ul.hide {
    display:none;
}

.preston-header {
    background-color: #66756A;
    font-family: "Nunito", Verdana, sans-serif;
    text-align:center;
    margin:0px;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
}
.place-holder {
    background-color:#EEEdE7;
    font-size:1.2em;
    font-family:"Poppins", Tahoma, sans-serif;
    margin-top:5px;
    padding:20px;
}

footer {
    background-color: #66756A;
    padding:20px;
    font-family:"Nunito", Verdana, sans-serif;
    text-align:center;
   
}
.copyrightlink:hover {
    color:white;
}
.copyrightlink {
    color:black;
}
.social{
    align-items: right;
   
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }