main form {
    font-family:"Nunito", Verdana, sans-serif;
   padding:10px;
   
}
form legend{
    margin:0 1rem;
    padding:0 .5rem;
}

form fieldset {
    margin:2rem 0;
    border:1px solid #66756A;
    border-radius: 10px;
    padding: .5rem 2%;
}

form label.top, form div {
    display:block;
    padding-top:20px;
    font-size:1rem;
   
}

 form label.top input:required {
    border-left:#d1755d solid 6px;
}

form label.top input, form label.top select {
    -webkit-appearance:none;
    display: block;
    font-size: 1rem;
    border:1px solid #999;
    border-radius:4px;
    padding:.7rem;
    color:#555;
    width:100%;
    max-width:20rem;
    background-color:rgba(0,0,0,0.1);
}

form label.severity {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:20rem;
    padding-top:2rem;
}

form label.severity datalist{
    width:100%;
    max-width:20rem;
    margin:0;
}

form input.submitform {
    border:none;
    background-color: #d1755d;
    color:white;
    font-size:larger;
    border-radius: 1rem;
    padding:.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width:96%;
    max-width:20rem;
}

 main form h2 {
     font-family: "Poppins", Tahoma, sans-serif;
     text-align:center;
     padding-top:20px;
     font-size:2em;
 }

 form label.danger {
    display:block;
    padding:.75rem;
}

.thanks{
    font-family:"Poppins", Tahoma, sans-serif;
    
}
.thanksp {
    font-family:"Nunito", Verdana, sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

textarea {
    width: 100%;
    max-width: 20rem;
    height: 10rem;
}
.severitydiv{
    display:inline;
    
}