.banner {
    background-color: rgb(17, 17, 16);
    background-origin: padding-box;
}
.main-content {
display:grid;
grid-template-columns: 3;
}
.negspace {
grid-template-columns: 1fr 1fr;
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size:3em;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    width:200px;
}
a {
    color:white;
}
a:hover {
    color:rgb(138, 141, 141);
}