.banner {
    background-color: rgb(17, 17, 16);
    line-height: 5em;
    margin-left: 100px;
    margin-right: 100px;
    
}
.main-content {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
}

.negspace {
    grid-column-start: 1;
    grid-column-end: 2;
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    grid-row-start: 1;
    grid-row-end: 4;
    padding:20px;
}

.visual-heirarchy {
    grid-column-start: 2;
    grid-column-end:3;
    border-right: black solid 1px;
    border-bottom: black solid 1px;
    grid-row-start:1;
    grid-row-end:4;
    padding:20px;
}

.proximity {
    grid-column-start: 3;
    border-right: black solid 1px;
    border-bottom: black solid 1px;
    grid-row-start:1;
    grid-row-end: 4;
    padding:20px;
      
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size:3em;
    
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    width:200px;
    padding:10px;
}
a {
    color:white;
   
    margin-left:20px;
}
a:hover {
    color:rgb(138, 141, 141);
}
.websites {
    color:black;
}