.banner {
    background-color: burlywood;
}
h1 {
    font-family: cursive;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    width:200px;
}
