@media (min-width: 32.5em) { 
    img {
        float:right;
    }
    .main-content {
        grid-template-columns: 1fr 1fr;
        } 
        
    .proximity {
            grid-row: column start 2fr;
        }
    }
