.header {
    background-color:#5A605A;
    padding:30px;
    border-radius:3px 3px 3px 3px;
}
h1 {
    font-family: "Baskerville", "Times New Roman", serif;
    font-size: 3em;
    margin-left:50px;
    color: white;
  }
  h2 {
      font-family: "Arial", "helvetica", sans-serif;
  }
  .footer{
      background-color:#5A605A;
      padding:25px;
      border-radius:3px 3px 3px 3px;
  }
  img {  
    width:300px;
    margin-top:-150px;
    margin-right:25px;
    box-shadow:2px 2px 5px 2px rgb(85, 84, 84);
  }
  .copyright{
    color:white;
    text-align:center;
  }
  a:hover {
      color:rgb(163, 159, 159);
  }
  .copyrightlink {
      color:white;
  }
  li {
      font-family:Arial, Helvetica, sans-serif;
      padding:5px;
  }
  .listlink {
    color:black;
}
  .course {
    border-bottom:1px solid black;
    margin-left:15px;
    width:75%;
  }
  .date {
    color:white;
    margin-left:75px;
    font-family: "Baskerville", "Times New Roman", serif;
  }
  #lastupdated {
      color:white;
      text-align: center;
  }
.footer-box {
    width:50%;
}
