/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav {
    
        background: #fc301e; /* Old browsers */
        background: -moz-linear-gradient(top,  #fc301e 0%, #aa0000 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #fc301e 0%,#aa0000 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #fc301e 0%,#aa0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc301e', endColorstr='#aa0000',GradientType=0 ); /* IE6-9 */
        
        }
        
        nav button{
            display:none;
        }
        
        nav ul li {
            float:left;
        }
        
        nav ul li a {
            border:none;
            border-right:1px solid rgba(0,0,0,0.3);
            padding: .6rem 1rem;
        }
        
        nav ul {
            margin-left:2%;
        }
        
        nav ul.hide {
            display:block;
        }

} /*end large */