img {
    width:200px;
}
nav {
    background-color:#66756A;
    padding:20px;
}
a {
padding:20px;
color:black;
}
a:hover {
    color:white;
}
.color-scheme-img {
    width:400px;
}
.color-hover:hover {
    color:#82A3A1;
}
.typo-ex {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}
.typo-par {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}
.typo-div {
    background-color:#313331;
    padding:20px;
}
@media (min-width: 32.5em) {
    nav {
        display:block;
        flex-wrap:wrap;
    }
}